{% extends "base.html" %}
{% block content %}
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5 text-center">
            <h2>Signup</h2>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
            <form action = "/signup" method = "POST">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="" autocomplete="off" required>
                    </div>
                </div>
                <br>
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="name" placeholder="Name" autocomplete="off" required>
                    </div>
                </div>
                <br>
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="password" name="password" placeholder="Password" required>
                    </div>
                </div>
                <br>
                <input class= "btn btn-primary" type = "submit" value= "Sign Up" /><br>                
            </form>
        </div>
    </div>
{% endblock %}